:root {
  --nav-color: whitesmoke;
  --main-color: #ff545a;
}
.navbar {
  background-color: var(--nav-color) !important;
}
.navbar .nav-link {
  transition: all 0.5s !important;
}
.navbar ul a:hover {
  color: var(--main-color);
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.landing {
  height: calc(103vh);
}
.landing::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-image: url("../img/welcome-hero/banner.jpg");
  background-size: cover;
  filter: contrast(0.5);
}

.landing .container {
  font-weight: bolder;
  position: relative;
}
.landing .container h1 {
  font-size: 3rem !important;
}

.landing .btn {
  padding: 10px;
  width: 150px;
  transition: all;
  background-color: var(--main-color);
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #f43032;
}

.catogroy > div > div {
  height: 200px !important;
  position: relative;
  top: -100px;
  background-color: whitesmoke;
  transition-duration: 0.5s;
  transform: scale(1) !important;
}
.catogroy > div > div:hover {
  transform: scale(1.1) !important;
}
.catogroy i {
  font-size: 50px;
}
.catogroy > div > div:hover {
  background-color: var(--main-color);
  color: whitesmoke;
}

.how-it-work,
.explore {
  color: rgb(89, 89, 89);
}
.cards > div {
  transition: all 0.5s !important;
}
.how-it-work .cards > div:hover {
  fill: var(--main-color) !important;
  background-color: #ff545a;
}

.how-it-work i {
  font-size: 30px;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  border-radius: 50% !important;
  background-color: rgba(190, 187, 187, 0.322);
  fill: gray !important;
}
.how-it-work .cards > div:hover i {
  /* fill: aquamarine; */
  background-color: white !important;
  fill: var(--main-color) !important;
}

.explore {
  border: 1px solid transparent;
}

.explore .img-fluid {
  background-size: cover;
  width: 100%;
}

.explore .footer i {
  width: 20px;
  height: 20px;
  fill: gray !important;
  transition-duration: 0.5s;
}
.explore .footer i:hover {
  fill: green !important;
}

.explore .row > div {
  transition-duration: 0.5s;
  transform: scale(1) !important;
  transform-origin: 50% 50%;
}
.explore .img {
  position: relative;
}
.explore .row > div:hover {
  transform: scale(1.03) !important;
}
.explore .img .options {
  opacity: 0% !important;
  transition-duration: 0.5s;
  position: absolute;
  z-index: 5000;
  background-color: transparent;
}

.options i {
  width: 25px !important;
  fill: white;
  background-color: gray !important;
  transition-duration: 0.5s;
}
.options i:hover {
  fill: rgb(5, 5, 227);
}
.explore .row > div:hover .options {
  opacity: 100% !important;
  transform: translateY(-155%) !important;
}

.mySwiper {
  height: 90vh !important;
}

.swiper-slide {
  /* font-size: 10px !important; */
  text-align: center;
  font-size: 16px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50% !important;
}

.swiper-slide p {
  font-size: medium;
}

.swiper .row {
  display: flex !important;
  flex-wrap: nowrap !important;
}
